[[redirects]]
  from = "https://solwearth.com/*"
  to = "https://www.solwearth.com/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://solwearth.com/*"
  to = "https://www.solwearth.com/:splat"
  status = 301
  force = true
